/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
:root {
  --bg-navbar: $bg-navbar;
  --text-colornavbar: $text-colornavbar;
  --text-colornavbarHover: $text-colornavbarHover;
  --text-Home: $text-Home;
  --text-color: $text-color;
  --boxshadow: $boxshadow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  color: black;
}

.TitleContnt, hr {
  margin-bottom: 2rem;
  font-family: "Protest Guerrilla", sans-serif;
}

hr {
  margin-top: 1rem;
  border-radius: 40%;
  font-weight: 700;
}

@media (max-width: 1920px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 7rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}
@media (max-width: 1440px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 7rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}
@media (max-width: 1367px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 7rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}
@media (max-width: 1280px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 6rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}
@media (max-width: 1025px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 5rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}
@media (max-width: 769px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 5rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
  body .header #headernavbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.7s ease-in-out;
  }
  body .header #headernavbar #navbar #nav-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: block;
    width: 100%;
  }
  body .header ul {
    border-radius: 0;
  }
  body .header ul li a {
    border-radius: 0;
  }
  body .header ul li.active {
    border-radius: 0;
  }
}
@media (max-width: 576px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 4rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}
@media (max-width: 425px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
    box-shadow: 0px 2px 15px black;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 4rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: linear-gradient(90deg in oklab, rgb(0, 213, 255) 30%, rgb(0, 39, 211));
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li:hover {
    transition: all 0.2s ease-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li:hover > a {
    color: black;
  }
}/*# sourceMappingURL=Styles.css.map */