/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");

$bg-navbar: linear-gradient(
  90deg in oklab,
  rgb(0, 179, 255) 30%,
  rgb(0, 39, 211)
);
$text-colornavbar: white;
$text-colornavbarHover: black;
$text-Home: white;
$text-color: black;
$font-style1: "Protest Guerrilla", sans-serif;
$boxshadow: 0px 2px 15px #9dfffaa1;

:root {
  --bg-navbar: $bg-navbar;
  --text-colornavbar: $text-colornavbar;
  --text-colornavbarHover: $text-colornavbarHover;
  --text-Home: $text-Home;
  --text-color: $text-color;
  --boxshadow: $boxshadow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 45px;
}

section {
  width: 100%;
  color: $text-color;
  padding: 1% 5%;
}

header {
  transition: all 0.6s ease-out;
  &.sticky {
    background: $bg-navbar;
    transition: background 0.6s ease-out;
  }
}

.TitleContnt,
hr {
  margin-bottom: 2rem;
  font-family: $font-style1;
}

hr {
  margin-top: 1rem;
  border-radius: 40%;
  font-weight: 700;
}
