@use "GeneralStyles" as Variables;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Revolution&display=swap");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:wght@700&display=swap");

@mixin Service(
  $fontsizeTitle,
  $fontsize,
  $fontsizeCard,
  $widthCard,
  $heigthCard,
  $paddingcard
) {
  body {
    #Service {
      position: relative;
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 100%;

      #ServiceContent {
        position: relative;
        padding: 1rem;
        margin: 3rem 0;
        width: 100%;
        height: fit-content;
        border-radius: 2rem;

        .Title {
          color: rgb(0, 144, 211);
          padding: 0 2rem;
          margin-bottom: 1.5rem;
          font-family: "PT Sans Caption", sans-serif;
          font-size: $fontsizeTitle;
          font-weight: 700;
          font-style: normal;
          text-transform: uppercase;
        }

        #ServiceInfo {
          font-family: "Source Sans Pro", sans-serif;
          padding: 0 2rem;
          margin-bottom: 2.5rem;

          p {
            font-size: $fontsize;
          }
        }

        #CardService {
          font-family: "Source Sans Pro", sans-serif;
          padding: 0 2rem;
          justify-content: center;
          display: flex;
          flex-wrap: wrap;

          .owl-carousel {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .item {
              display: flex;
              justify-content: center;
            }

            .card {
              margin: 2rem;
              color: white;
              background-repeat: no-repeat;
              background-position: center;
              padding: $paddingcard 0 0;
              border: none;
              width: 100%;
              height: $heigthCard;
              max-width: $widthCard;
              border-radius: 1rem;
              overflow: hidden;
              transition: all 0.3s ease-in-out;

              .card-container {
                border-radius: 1rem;
                background: linear-gradient(
                  to top,
                  rgb(0, 0, 0),
                  rgba(0, 0, 0, 0.9),
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.4)
                );

                transform: translateY(85%);
                transition: transform 0.5s ease-in-out;
                height: 100%;

                .card-body {
                  width: 100%;
                  text-align: center;

                  .card-title {
                    font-weight: bold;
                    position: relative;
                    padding-bottom: 0.5rem;

                    &::after {
                      content: "";
                      position: absolute;
                      height: 0.4rem;
                      background-color: #00b7ff;
                      width: 120%;
                      left: -1.5rem;
                      bottom: 0;
                      transform: scaleX(0);
                      transition: all 0.3s ease-in-out;
                    }
                  }

                  .card-text {
                    padding: 0.5rem 1rem;
                    font-size: $fontsizeCard;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    text-align: justify;
                  }
                }
              }

              &:hover,
              &:active {
                box-shadow: 0 0 1rem 0.5rem #00b7ff;
                transform: scale(1.05);
                cursor: pointer;
                transition-duration: 0ms;

                .card-container,
                .card:focus-within .card-container {
                  transform: translateY(0%);
                  transition-delay: 250ms;
                  .card-body {
                    .card-title {
                      &::after {
                        transform: scaleX(1);
                      }
                    }
                    .card-text {
                      opacity: 1;
                    }

                    #Spans {
                      opacity: 1;
                    }

                    #Enlaces {
                      a {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }

            #card1 {
              background-image: url("../SRC/IMG/Fuente-Agua-Luminosa.webp");
              background-size: 20rem 25rem;
            }

            #card2 {
              background-image: url("../SRC/IMG/Piscina\ y\ jaccuzi.webp");
              background-size: 20rem 25rem;
            }

            #card3 {
              background-image: url("../SRC/IMG/Planta-tratamiento-agua-bosstech.webp");
              background-size: 20rem 25rem;
            }
          }
        }
      }

      
    }
    
    #Wave{
        position: relative;
        margin-top: 3rem;
        width: 100%;
        height: 100%;
        background-color: #00b7ff;

        .waveWater{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5rem;
            background: url(../SRC/IMG/wavy-steps.png);
            background-size: 1000px 100px;
            
        }

        .waveWater1{
            animation: animate 30s linear infinite;
            z-index: 1000;
            opacity: 1;
            animation-delay: 0s;
        }
      }
  }
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@media (max-width: 1920px) {
  @include Service(200%, 150%, 115%, 45ch, 30rem, 15rem);
}

@media (max-width: 1440px) {
  @include Service(150%, 130%, 100%, 45ch, 30rem, 15rem);
}

@media (max-width: 1367px) {
  @include Service(150%, 130%, 100%, 45ch, 30rem, 15rem);
}

@media (max-width: 1280px) {
  @include Service(150%, 130%, 100%, 45ch, 27rem, 12rem);
}

@media (max-width: 1025px) {
  @include Service(150%, 100%, 90%, 35ch, 20rem, 7rem);
}

@media (max-width: 769px) {
  @include Service(100%, 90%, 80%, 38ch, 20rem, 5rem);

  body {
    #Service {
      #ServiceContent {
        #CardService {
          .owl-carousel {
            .card {
              margin: 0 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  @include Service(120%, 100%, 75%, 45ch, 20rem, 9rem);

  body {
    #Service {
      #ServiceContent {
        p,
        h1 {
          text-align: center;
        }

        #CardService {
          .owl-carousel {
            .card {
              .card-container {
                .card-body {
                  .card-title {
                    font-size: 110%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
    @include Service(100%, 90%, 70%, 45ch, 20rem, 9.5rem);

  body {
    #Service {
      #ServiceContent {
        p,  
        h1 {
          text-align: center;
        }

        #CardService {
          .owl-carousel {
            .card {
              .card-container {
                .card-body {
                  .card-title {
                    font-size: 100%;
                  }
                }
              }
            }

            
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
    @include Service(100%, 90%, 65%, 45ch, 20rem, 9.5rem);

    body {
        #Service {
          #ServiceContent {
            p,
            h1 {
              text-align: center;
            }
    
            #CardService {
              .owl-carousel {
                .card {
                  .card-container {
                    .card-body {
                      .card-title {
                        font-size: 90%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
}

@media (max-width: 320px){
    @include Service(90%, 80%, 43%, 45ch, 20rem, 12rem);

    body {
        #Service {
          #ServiceContent {
            p,
            h1 {
              text-align: center;
            }
    
            #CardService {
              .owl-carousel {
                .card {
                  .card-container {
                    .card-body {
                      .card-title {
                        font-size: 65%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
}
