@use "GeneralStyles" as Variables;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Revolution&display=swap");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:wght@700&display=swap");

@mixin Testimo(
  $fontsizeTitle,
  $fontsize,
  $widthcard,
  $widthcardimg,
  $widthOwlNav,
  $widthdot
) {
  body {
    #Testimonials {
      background-color: #006094;
      position: relative;
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 100%;

      #TestimonialsContent {
        position: relative;
        padding: 1rem;
        margin: 3rem 0;
        width: 100%;
        height: fit-content;
        border-radius: 2rem;
        justify-content: center;

        #TestimonialsTitle {
          color: white;
          padding: 0 2rem;
          margin-bottom: 1.5rem;
          font-family: "PT Sans Caption", sans-serif;
          font-size: $fontsizeTitle;
          font-weight: 700;
          font-style: normal;
          text-align: center;
        }

        #container {
          display: flex;
          width: 100%;
          color: white;
          overflow: hidden;

          .owl-carousel {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 1rem 0;
            justify-content: space-around;

            .item {
              font-size: $fontsize;
              display: flex;
              justify-content: center;

              .Card {
                width: $widthcard;
                display: inline-block;

                .card-content {
                  overflow: hidden;

                  .card-image {
                    position: relative;
                    background-color: white;
                    border-radius: 50%;
                    margin-bottom: -0.75rem;
                    padding-top: 1.5rem;

                    .card_img {
                      width: $widthcardimg;
                      margin: 0 auto;

                      img {
                        position: relative;
                        z-index: 5;

                        display: block;
                        width: 100%;
                      }
                    }

                    .card-shadow {
                      background-color: grey;
                      width: 220px;
                      height: 220px;
                      border-radius: 50%;
                      position: absolute;
                      top: 1.5rem;
                      left: 0;
                      right: 0;
                      z-index: 1;
                      margin: 0 auto;
                      filter: blur(45px);
                    }
                  }

                  .card-info {
                    background-color: rgb(0, 0, 0);
                    padding: 1.5rem 1rem;
                    border-radius: 0 0 1.25rem 1.25rem;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    position: relative;
                    z-index: 10;

                    .card_description {
                      font-weight: 500;
                      margin: 10px 0;
                    }
                  }
                }
              }
            }

            .owl-nav {
              width: 100%;
              display: flex;
              justify-content: space-between;
              position: absolute;
              top: 40%;
              left: 0;

              .owl-prev,
              .owl-next {
                font-size: $widthOwlNav;
                color: white;
                background-color: transparent;
                transition: color 0.3s ease-in-out;

                &:hover {
                  background-color: transparent;
                  color: #00c8ff;
                }
              }
            }

            .owl-dots {
              margin-top: 1.5rem;
              padding: 1rem 0;

              .owl-dot {
                span {
                  background-color: rgba(255, 255, 255, 0.646);
                  width: $widthdot;
                  height: $widthdot;
                  transition: background-color 0.3s ease-in-out;
                }

                &.active {
                  span {
                    background-color: white;
                  }
                }
              }
            }
          }
        }
      }

      .bubble {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        li {
          position: absolute;
          display: block;
          list-style: none;
          width: 2rem;
          height: 2rem;
          box-shadow: inset 5px -5px 10px white;
          background-color: rgba(255, 255, 255, 0.1);
          border: solid 1px rgba(255, 255, 255, 0.18);
          transition: all 3s ease-in-out;
          animation: rotate 5s linear infinite;
          backdrop-filter: blur(2px);
          bottom: -150px;

          &:nth-child(1) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
          }

          &:nth-child(2) {
            left: 15%;
            width: 150px;
            height: 150px;
            animation-delay: 4s;
            animation-duration: 6s;
          }

          &:nth-child(3) {
            left: 45%;
            width: 100px;
            height: 100px;
            animation-delay: 6s;
            animation-duration: 5s;
          }

          &:nth-child(4) {
            left: 60%;
            width: 200px;
            height: 200px;
            animation-delay: 5s;
          }

          &:nth-child(5) {
            left: 30%;
            width: 110px;
            height: 110px;
            animation-delay: 15s;
          }

          &:nth-child(6) {
            left: 10%;
            width: 200px;
            height: 200px;
            animation-delay: 3s;
            animation-duration: 8s;
          }

          &:nth-child(7) {
            left: 75%;
            width: 100px;
            height: 100px;
            animation-delay: 10s;
            animation-duration: 6s;
          }

          &:nth-child(8) {
            left: 80%;
            width: 80px;
            height: 80px;
            animation-delay: 12s;
            animation-duration: 8s;
          }

          &:nth-child(8) {
            left: 40%;
            width: 80px;
            height: 80px;
            animation-delay: 6s;
            animation-duration: 10s;
          }

          &:nth-child(9) {
            left: 40%;
            width: 200px;
            height: 200px;
            animation-delay: 1s;
            animation-duration: 10s;
          }

          &:nth-child(10) {
            left: 50%;
            width: 300px;
            height: 300px;
            animation-delay: 2s;
            animation-duration: 13s;
          }

          &:nth-child(11) {
            left: 90%;
            width: 300px;
            height: 300px;
            animation-delay: 2s;
            animation-duration: 20s;
          }

          &:nth-child(12) {
            left: 60%;
            width: 300px;
            height: 300px;
            animation-delay: 3s;
            animation-duration: 20s;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    border-radius: 50%;
  }
  20% {
    transform: translateY(-250px) rotate(360deg);
    opacity: 1;
    border-radius: 50%;
  }
  65% {
    transform: translateY(-750px) rotate(360deg);
    opacity: 0;
    border-radius: 50%;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media (max-width: 1920px) {
  @include Testimo(200%, 150%, 23rem, 16rem, 6rem, 1.5rem);
}

@media (max-width: 1440px) {
  @include Testimo(150%, 100%, 17rem, 12rem, 5rem, 1rem);
}

@media (max-width: 1367px) {
  @include Testimo(150%, 100%, 16rem, 12rem, 5rem, 1rem);
}

@media (max-width: 1280px) {
  @include Testimo(150%, 100%, 16rem, 12rem, 5rem, 1rem);
}

@media (max-width: 1025px) {
  @include Testimo(150%, 100%, 16rem, 12rem, 4rem, 1rem);
}

@media (max-width: 769px) {
  @include Testimo(120%, 100%, 16rem, 12rem, 3rem, 1rem);
}

@media (max-width: 576px) {
  @include Testimo(100%, 100%, 14rem, 12rem, 3rem, 0.8rem);
}

@media (max-width: 425px) {
  @include Testimo(100%, 100%, 14rem, 12rem, 3rem, 0.8rem);
}

@media (max-width: 375px) {
  @include Testimo(100%, 100%, 14rem, 12rem, 3rem, 0.8rem);
}

@media (max-width: 320px) {
  @include Testimo(90%, 80%, 14rem, 12rem, 3rem, 0.8rem);
}
